*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 /******* Main Page section   *******/
.main-page{
    height: 100vh;
    background-color: hsl(43.8, 100%, 92.7%);
}
.nav-container {
    display: flex;
    color: hsl(317.5, 34.3%, 13.7%);
    justify-content: center;
    padding: 20px 0;
  }
  .navbar {
    width: 1000px;
    display: flex;
    justify-content: space-between;
  }
  ul {
    display: flex;
    gap:45px;
  }
  ul li{
    list-style: none;
  }
  .body-container{
    display: flex;
    justify-content: center;
  }
  .body{
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  h1{
    font-family: "Times New Roman", Times, serif;
    font-size: 80px;
    line-height: 1;
  }
  .content p{
    margin: 18px 0 14px 0;
  }
  .buttons button{
    padding: 8px 30px;
    font-weight: 600;
  }
  .buttons .first{
    background-color: #ff6b71;
    margin-right: 12px;
  }
 figure img{
    width: auto;
    height: 590px;
    margin-right: -150px;
  }


  /******* Information/Boxes Section ********/
  .box img {
    width: 100px;
    height: 100px;
  }
  .info {
      margin: 36px 0;
      text-align: center;
      font-size: 36px; 
      font-weight: bolder;
      color: hsl(317.5, 34.3%, 13.7%);;
  }
  
  .box-container {
      display: flex;
      justify-content: center;
      gap: 52px;
      text-align: center;
  }
  
  .box {
      max-width: 200px;
  }


  /****** Quote Section *******/
  .quote-container{
    background-color: #E5E7Eb;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px 0;
  }
  .quote-container div{
    width: 700px;
    font-size: 29px;
    font-style: italic;
    font-weight: lighter;
    }
  .author{
    text-align: end;
  }


   /******* Signup/Call to action section   **********/
  .signup-container{
    display: flex;
    justify-content: center;
    margin: 80px 0;
  }
  .signup-container .signup{
    background-color: #ff6b71;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    border-radius: 12px;
  }
  .signup div button{
    background-color: #ff6b71;
    padding: 6px 20px;
    border-radius: 12px;
    font-size: 16px;
  }

  footer{
    background-color: hsl(43.8, 100%, 92.7%);
    text-align: center;
    padding: 20px 0;
  }
 
 